.material-symbols-outlined.logo-responsive {
  font-size: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #606c38;
  padding: 4em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.logo {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}

.logo__title {
  margin-left: 1rem;
}

.logo:visited {
  color: #fff;
}

.form__item {
  font-family: system-ui, "Helvetica Neue", sans-serif;
  font-size: 2rem;

  list-style: none;
  padding: 1rem 0;
}

.form__label {
}

.form__input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.fieldset__label {
  font-size: 1.5rem;
}
